@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Nunito:wght@200&display=swap');

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 7px;
    background-color: rgb(167, 167, 167);
    padding-bottom: 550px;
    background-size: 100%;
    font-family: 'Nunito', sans-serif;
} 

p{
    text-shadow: .1px .2px .2px honeydew;
    text-size-adjust: 20px;
}

.login-form {
    border: 3px solid black;
    border-radius: 5%;
    padding: 75px 90px 75px 90px;
    background-color: #1169A2  ;
}

.signup-form {
    border: 3px solid black;
    border-radius: 5%;
    padding: 45px 125px 45px 125px;
    background-color: #1169A2  ;
}

input[type=text]:focus {
    background-color: rgb(189, 241, 252);
}

input[type=password]:focus {
    background-color: rgb(189, 241, 252);
}

input[type=email]:focus {
    background-color: rgb(189, 241, 252);
}