.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    background-color: rgb(167, 167, 167);
    padding-bottom: 150px;
}

.login-form {
    border: 3px solid black;
    border-radius: 5%;
    padding: 75px 90px 75px 90px;
    background-color: #01730A;
}

.signup-form {
    border: 3px solid black;
    border-radius: 5%;
    padding: 45px 125px 45px 125px;
    background-color: #01730A;
}